<%@ Page Language="vb" AutoEventWireup="false" Src="ServiceMasterEditList.aspx.vb" Codebehind="ServiceMasterEditList.aspx.vb" Inherits="ServiceMasterEditList"%>
<%@ Register TagPrefix="uc1" TagName="Headerctrl" Src="../usercontrol/Headerctrl.ascx" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML xmlns="http://www.w3.org/1999/xhtml">
	<HEAD>
		<title>CarzonRent :: Internal software Control panel</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="Visual Basic .NET 7.1" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
		<script language="JavaScript" src="../utilityfunction.js"></script>
		<script language="JavaScript" src="../JScripts/Datefunc.js"></script>
		<LINK href="../HertzInt.css" type="text/css" rel="stylesheet">
		<style type="text/css">
		.btnstyle { COLOR: #aa0000; TEXT-DECORATION: none }
		</style>
		<script language="javascript">
		function validation()
		{
			
		}		
		</script>
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<uc1:headerctrl id="Headerctrl2" runat="server"></uc1:headerctrl>
			<br>
			<br>
			<TABLE align="center">
				<TR>
					<TD colspan="2" align="center"><STRONG><U>Edit Service Master</U></STRONG>
						<br>
						<br>
					</TD>
				</TR>
				<TR>
					<td colspan="2" valign="top">
						<div id="MainDiv" runat="server" style="WIDTH:100%; HEIGHT:100%"></div>
					</td>
				</TR>
			</TABLE>
		</form>
	</body>
</HTML>
