<%@ Page Language="vb" AutoEventWireup="false" Src="CP_Index.aspx.vb" Inherits="CP_Index"%>
<%@ Register TagPrefix="uc1" TagName="Headerctrl" Src="../usercontrol/Headerctrl.ascx" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>Welcome to the control panel for the Carzonrent (India) Private Limited 
			internal software</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="Visual Basic .NET 7.1" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
		<LINK href="../HertzInt.css" type="text/css" rel="stylesheet">
	</HEAD>
	<body>
		<form id="Form1" method="post" runat="server">
			<uc1:headerctrl id="Headerctrl1" runat="server"></uc1:headerctrl>
			<TABLE align="center">
				<TR>
					<TD>
						<asp:table id="tblRecDetail" Runat="server">
							<asp:tablerow>
								<asp:tableheadercell></asp:tableheadercell>
							</asp:tablerow>
						</asp:table></TD>
				</TR>
				<tr>
					<td>
						<asp:Label id="lblmessage" Visible=False runat="server">Label</asp:Label></td>
				</tr>
			</TABLE>
		</form>
	</body>
</HTML>
