<%@ Control Language="vb" AutoEventWireup="false" Src="Headerctrl.ascx.vb" Inherits="Headerctrl"%>
<table width="100%" cellpadding="0" cellspacing="0" align="center">
<tr>
    <td>
        <img src="../images/logo_carzonrent.gif">
    </td>
    <td>
        <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%">
            <tr>
                <td bgcolor="#cccccc" align="right">
                    <font class="orngCopy">
                        <a href="https://insta.carzonrent.com/CorintControlPanel/CP_Logout.aspx">
                        <b>Logout&nbsp;</b> </a>
                    </font>
                </td>
            </tr>
            <tr>
                <td bgcolor="#cccccc" align="center">
                    <asp:Table Width="100%" ID="tblRecDetail" runat="server">
                    </asp:Table>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>